{% extends 'gadmin/page.html' %}
{% load static %}
{% block title %}Guns{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Name</th>
                                <th>Type</th>
                                <th>Damage</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for gun in object_list %}
                            <tr>
                                <td>{{ gun.id }}</td>
                                <td>{{ gun.name }}</td>
                                <td>{{ gun.type }}</td>
                                <td>{{ gun.damage }}</td>
                                <td>{{ gun.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}