{% extends 'gadmin/page.html' %}
{% load static %}
{% load gadmin_extras %}
{% block title %}Hardware{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="card">
            <div class="p-3 d-flex align-items-center">
                <span class="mr-3 stamp stamp-md bg-green text-white">
                    <span class="icon" data-feather="cpu"></span>
                </span>
                <div class="h5 stamp-label">
                    <a href="#">
                        {{ psutil.cpu_percent }}% <small>CPU</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6  mb-4">
        <div class="card">
            <div class="p-3 d-flex align-items-center">
                <span class="mr-3 stamp stamp-md bg-blue text-white">
                    <span class="icon" data-feather="activity"></span>
                </span>
                <div class="h5 stamp-label">
                    <a href="#">
                        {{ psutil.virtual_memory.percent }}% <small>Memory</small>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <canvas class="my-4 w-100" id="cpu-chart" width="900" height="380"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
        <div class="card">
            <div class="card-body">
                <canvas class="my-4 w-100" id="mem-chart" width="900" height="380"></canvas>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-4 mb-4">
        <div class="card mb-4">
            <div class="card-body">
                <h4 class="card-title">System</h4>
                <ul class="list-unstyled mb-0">
                    <li>
                        <b>OS:</b> {{ system.system }}
                    </li>
                    <li>
                        <b>Platform:</b> {{ system.platform }}
                    </li>
                    <li>
                        <b>CPU Arch:</b> {{ system.machine }}
                    </li>
                    <li>
                        <b>Python version:</b> {{ system.python_version }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Git</h4>
                <ul class="list-unstyled mb-0">
                    <li>
                        <b>Commit:</b> {{ git.commit }}
                    </li>
                    <li>
                        <b>Message:</b> {{ git.message }}
                    </li>
                    <li>
                        <b>Author:</b> {{ git.author }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
(function () {
    'use strict';
    new Chart(document.getElementById('cpu-chart'), {
        type: 'line',
        data: {
            labels: [{% for row in charts_data.cpu %}'{{ row.at|date:"H:m" }}',{% endfor %}
            ],
            datasets: [
                {
                    data: {{ charts_data.cpu|model_to_jsarray }},
                    lineTension: 0,
                    backgroundColor: 'rgba(0,123,255,0.1)',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff',
                },
            ],
        },
        options:{scales:{yAxes:[{ticks:{beginAtZero:false,},},],},legend: {display: false,},},
    });

    new Chart(document.getElementById('mem-chart'), {
        type: 'line',
        data: {
            labels: [{% for row in charts_data.mem %}'{{ row.at|date:"H:m" }}',{% endfor %}
            ],
            datasets: [
                {
                    data: {{ charts_data.mem|model_to_jsarray }},
                    lineTension: 0,
                    backgroundColor: 'rgba(250,70,84,0.1)',
                    borderColor: '#fa4654',
                    borderWidth: 4,
                    pointBackgroundColor: '#fa4654',
                },
            ],
        },
        options:{scales:{yAxes:[{ticks:{beginAtZero:false,},},],},legend: {display: false,},},
    });
})();
</script>
{% endblock scripts %}