{% extends 'gadmin/page.html' %}
{% load gadmin_extras %}
{% load static %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="card">
            <div class="p-3 d-flex align-items-center">
                <span class="mr-3 stamp stamp-md bg-green text-white">
                    <span class="icon" data-feather="users"></span>
                </span>
                <div class="h5 stamp-label">
                    <a href="#">
                        {{ stats.visitors }} <small>Visitors</small>
                        {% if percentages %}
                        <small class="subtitle">{{ percentages.visitors }}</small>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6  mb-4">
        <div class="card">
            <div class="p-3 d-flex align-items-center">
                <span class="mr-3 stamp stamp-md bg-blue text-white">
                    <span class="icon" data-feather="users"></span>
                </span>
                <div class="h5 stamp-label">
                    <a href="#">
                        {{ stats.users }} <small>Users</small>
                        {% if percentages %}
                        <small class="subtitle">{{ percentages.users }}</small>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="card">
            <div class="p-3 d-flex align-items-center">
                <span class="mr-3 stamp stamp-md bg-red text-white">
                    <span class="icon" data-feather="play"></span>
                </span>
                <div class="h5 stamp-label">
                    <a href="#">
                        {{ stats.matches }} <small>Matches played</small>
                        {% if percentages %}
                        <small class="subtitle">{{ percentages.matches }}</small>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="card">
            <div class="p-3 d-flex align-items-center">
                <span class="mr-3 stamp stamp-md bg-yellow text-white">
                    <span class="icon" data-feather="help-circle"></span>
                </span>
                <div class="h5 stamp-label">
                    <a href="#">
                        {{ stats.purchases }} <small>Purchases</small>
                        {% if percentages %}
                        <small class="subtitle">+0%</small>
                        {% endif %}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-12 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                {% if charts_data %}
                <canvas class="my-4 w-100" id="users-chart" width="900" height="380"></canvas>
                {% else %}
                <div class="text-center my-3">
                    <span class="text-muted">No data available.</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                {% if charts_data %}
                <canvas class="my-4 w-100" id="matches-chart" width="900" height="380"></canvas>
                {% else %}
                <div class="text-center my-3">
                    <span class="text-muted">No data available.</span>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% if charts_data %}
{% block scripts %}
<script>
(function () {
    'use strict';
    new Chart(document.getElementById('users-chart'), {
        type: 'line',
        data: {
            labels: [{% for row in charts_data.users %}'{{ row.at|date:"H:m" }}',{% endfor %}
            ],
            datasets: [
                {
                    data: {{ charts_data.users|model_to_jsarray }},
                    lineTension: 0,
                    backgroundColor: 'rgba(0,123,255,0.1)',
                    borderColor: '#007bff',
                    borderWidth: 4,
                    pointBackgroundColor: '#007bff',
                },
                {
                    data: {{ charts_data.visitors|model_to_jsarray }},
                    lineTension: 0,
                    backgroundColor: 'rgba(94,186,0,0.1)',
                    borderColor: '#5eba00',
                    borderWidth: 4,
                    pointBackgroundColor: '#5eba00',
                },
            ],
        },
        options:{scales:{yAxes:[{ticks:{beginAtZero:false,},},],},legend: {display: false,},},
    });

    new Chart(document.getElementById('matches-chart'), {
        type: 'line',
        data: {
            labels: [{% for row in charts_data.games %}'{{ row.at|date:"H:m" }}',{% endfor %}
            ],
            datasets: [
                {
                    data: {{ charts_data.games|model_to_jsarray }},
                    lineTension: 0,
                    backgroundColor: 'rgba(250,70,84,0.1)',
                    borderColor: '#fa4654',
                    borderWidth: 4,
                    pointBackgroundColor: '#fa4654',
                },
            ],
        },
        options:{scales:{yAxes:[{ticks:{beginAtZero:false,},},],},legend: {display: false,},},
    });
})();
</script>
{% endblock scripts %}
{% endif %}