{% extends 'gadmin/page.html' %}
{% load static %}
{% block title %}Skin{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-body">
                <form action="{% url 'gadmin:skin' skin.id %}" method="POST">
                    {% csrf_token %}
                    <div class="row mb-3">
                        <label for="inputName" class="col-sm-2 col-form-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" name="name" class="form-control" id="inputName" value="{{ skin.name }}"  placeholder="Not set">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputDesc" class="col-sm-2 col-form-label">Description</label>
                        <div class="col-sm-10">
                            <textarea name="description" class="form-control" id="inputDesc" rows="3"  placeholder="Not set">{{ skin.description }}</textarea>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPrice" class="col-sm-2 col-form-label">Price</label>
                        <div class="col-sm-10">
                            <input name="price" min="0" step="0.01" type="number" class="form-control" id="inputPrice" value="{{ skin.price }}">
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputImage" class="col-sm-2 col-form-label">Image file</label>
                        <div class="col-sm-10">
                            <select class="form-select" aria-label="Image file" id="inputImage" name="image" onchange="image_change(event)">
                                <option selected disabled>Select image file</option>
                                {% for f in files %}
                                <option value="{{ f }}" {% if skin.filename == f %}selected{% endif %}>{{ f }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <label for="inputPreview" class="col-sm-2 col-form-label">Preview</label>
                        <div class="col-sm-10">
                            <img src="/static/game/images/{{ skin.filename }}" id="preview" style="max-width:100px;max-height:100px;" />
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a href="{% url 'gadmin:skins' %}" class="btn btn-outline-danger">Cancel</a>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Stats</h6>
                <ul class="list-unstyled">
                    <li>
                        <b>Created on:</b> {{ skin.created_at|date:"d/m/Y H:i" }}
                    </li>
                    <li>
                        <b>Last updated on:</b> {{ skin.updated_at|date:"d/m/Y H:i" }}
                    </li>
                    <li>
                        <b>Currently used by:</b> {{ users_count }} users
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script>
    function image_change(event) {
        document.getElementById('preview').src = '/static/game/images/' + event.target.value;
    }
</script>
{% endblock scripts %}