{% extends 'gadmin/page.html' %}
{% load static %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-lg-6 mb-3">
        <div class="card">
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Staff</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for guser in object_list %}
                            <tr>
                                <td>{{ guser.user.id }}</td>
                                <td>{{ guser.user.username }}</td>
                                <td>{{ guser.user.email }}</td>
                                <td>{{ guser.user.is_staff }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}