{% extends 'gadmin/page.html' %}
{% load static %}
{% block title %}Users{% endblock %}
{% block content %}
<div class="row">
    <div class="col-12 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Users</h6>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Email</th>
                                <th>Level</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for guser in users %}
                            <tr>
                                <td>{{ guser.id }}</td>
                                <td>{{ guser.username }}</td>
                                <td>{{ guser.email }}</td>
                                <td>{{ guser.level|floatformat:"0" }}</td>
                                <td>
                                    <a href="{% url 'gadmin:user' guser.id %}" class="action-link">
                                        <span class="action-icon" data-feather="edit"></span>
                                    </a>
                                    <a href="{% url 'gadmin:ban_user' guser.id %}" class="action-link">
                                        <span class="action-icon" data-feather="minus-circle"></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 mb-4">
        <div class="card">
            <div class="card-body">
                <h6 class="card-title">Banned</h6>
                <div class="table-responsive">
                    <table class="table table-striped table-sm">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Username</th>
                                <th>Reason</th>
                                <th>By</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for user in banned %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.user.username }}</td>
                                <td>{{ user.reason }}</td>
                                <td>{{ user.by.username }}</td>
                                <td>
                                    <a href="{% url 'gadmin:user' user.user.id %}" class="action-link">
                                        <span class="action-icon" data-feather="edit"></span>
                                    </a>
                                    <a href="#" class="action-link">
                                        <span class="action-icon" data-feather="trash-2"></span>
                                    </a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}