@font-face {
    font-family: RetroGaming;
    src: url(fonts/RetroGaming.ttf);
}

#gameCanvas {
    border: 3px solid #111111;
    background-color: #111111;
}
.controls {
    position: relative;
    margin-top: 10px;
}

form.debug-form {
    margin-top: 10px;
}

form.debug-form input[type=checkbox] {
    vertical-align: middle;
    position: relative;
    bottom: 1px;
}
form.debug-form label {
    bottom: 2px;
}
