.body, .header {
    position: absolute;
    left: 50%;
    text-align: center;
}
.body {
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px;
    width: 100%;
}
.header {
    top: 5%;
    transform: translateX(-50%);
}
.header h1.title {
    margin: 0;
    color: #EEC015;
    font-size: 90px;
}
.header span.subtitle {
    margin: 0;
    color: #FFFFFF;
    font-size: 20px;
}

.body h4, .body p, .body input {
    margin: 0 0 20px 0;
}
.body h4, .body p, .body .login-form {
    display: block;
}
.body h4 {
    font-size: 26px;
}
.body p {
    font-size: 14px;
}

.login-form {
    display: block;
    margin: 0;
}
.login-form button, .login-form a {
    display: inline-block;
    margin: 0;
}
.login-form a {
    margin-right: 10px;
    color: #F0F0F0;
    margin: 7px 40px 7px 0px;
}
.login-form button {
    margin-left: 10px;
    color: #FFFFFF;
    background-color: #2196F3;
    border: none;
    border-radius: 4px;
    padding: 7px 40px;
}
.login-form .login-input {
    display: block;
    width: calc(100% - 24px);
    background-color: #202020;
    border-radius: 4px;
    padding: 12px;
    color: #888888;
    border: none;
}

footer.footer {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

footer.footer span {
    color: #888888;
    font-size: 14px;
}

@media screen and (max-width: 900px) {
    .body, .header {
        position: relative;
        left: 0;
        top: 0;
        transform: none;
        margin: auto;
    }
}

@media screen and (max-width: 450px) {
    .header {
        padding: 60px 0;
    }
    .header h1.title {
        font-size: 52px;
    }
    .header span.subtitle {
        font-size: 16px;
    }

    .body {
        width: calc(100% - 20px);
        padding: 0 10px;
        max-width: 100%;
    }
    .body .title {
        font-size: 20px;
    }

    .login-form {
        width: 100%;
    }
}