/** FONTS **/
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/Ubuntu/Ubuntu-Regular.ttf);
}
@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    src: url(fonts/Ubuntu/Ubuntu-Bold.ttf);
}
@font-face {
    font-family: 'RetroGaming';
    font-style: normal;
    font-weight: normal;
    src: url(fonts/RetroGaming.ttf);
}
/** /FONTS **/


html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url(images/stars.png);
    background-color: #111111;
    background-position: center;
    color: #F0F0F0;
    font-family: Ubuntu;
}

.stop-scrolling {
    overflow: hidden;
} 

.main.page {
    max-width: 1200px;
    width: 100%;
    height: calc(100% - 60px);
    margin: auto;
}

.main.page .body {
    margin: 0 1rem;
}

.body .header {
    text-align: center;
    margin: 30px 0;
}
.body .header h1.title {
    margin: 0;
    color: #EEC015;
    font-size: 40px;
    padding: 10px 0;
}
.body .header span.subtitle {
    margin: 0;
    color: #FFFFFF;
    font-size: 16px;
}

.card {
    padding: 1.5rem;
    margin: 1rem 0;
    background-color: #202020;
}
.card .title {
    text-align: center;
    margin: 0 0 10px 0;
}

.alert {
    width: calc(100% - 24px);
    color: #FFFFFF;
    padding: 12px;
    margin: 10px 0;
    border-radius: 4px;
}
.alert span {
    font-size: 14px;
}
.alert-error {
    background-color: rgb(143, 0, 0);
}
.alert-success {
    background-color: #008000;
}

.btn-main {
    display: block;
    padding: 8px;
    text-decoration: none;
    border: 1px solid #2196F3;
    background-color: rgba(33, 150, 243, 0.2);
    text-align: center;
    border-radius: 4px;
    color: #F0F0F0;
}
.btn-main:hover {
    background-color: rgba(33, 150, 243, 1);
}
.action-buttons {
    text-align: center;
}
.btn-alt {
    display: inline-block;
    padding: 4px;
    margin: 0 0.5rem 1rem 0.5rem;
    text-align: center;
    border-radius: 4px;
    color: #F0F0F0;
}
.btn-alt:hover {
    color: #FFFFFF;
}

.player-card .pinfo {
    margin-bottom: 5px;
}
.player-card .pinfo span:first-of-type {
    font-size: 1.1rem;
}

.player-card .pinfo span:last-of-type {
    font-size: 0.9rem;
    float: right;
}
.player-card .pinfo-footer > a {
    font-size: 0.9rem;
    color: #F0F0F0;
}

.player-card .pinfo-footer > small {
    float: right;
}

.player-card .btn-alt {
    margin-top: 15px;
    margin-bottom: 0;
    padding: 0
}

.controls-help ul {
    margin: 0;
    padding-left: 15px;
}
.controls-help ul li {
    margin: 5px 0;
}
.controls-help code {
    font-size: 0.9rem;
    margin-right: 5px;
}

/* MODAL */
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(10, 10, 10, 0.6);
    display: none;
}
.modal.active {
    display: block;
}
.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2c2c2c;
    padding: 1.5rem;
    border-radius: 4px;
    min-width: 20rem;
}
.modal-content .title {
    margin: 0;
    padding: 0;
    text-align: center;
}
.modal-content .modal-buttons {
    text-align: right;
}
.modal-content .modal-buttons > button {
    padding: 8px 14px;
    border: none;
    border-radius: 4px;
}
.modal-content p {
    margin-bottom: 1.5rem;
}

button {
    color: #F0F0F0;
}
button:hover {
    cursor: pointer;
}

footer.footer {
    padding: 20px 0;
    text-align: center;
}

footer.footer span, footer.footer a {
    color: #888888;
    font-size: 14px;
    text-decoration: none;
}

.player-card .level-bar {
    margin-bottom: 0.5rem;
}
.player-card progress {
    width: 100%;
    height: 0.8rem;
    background-color: #303030;
    border: none;
    border-radius: 4px;
}
.player-card progress::-webkit-progress-bar,
.player-card progress::-webkit-progress-value,
.player-card progress::-moz-progress-bar {
    background-color: #2196F3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.btn-green {
    background-color: #00aa52;
}
.btn-red {
    background-color: #f3212d;
}
.btn-sm {
    font-size: 0.8rem;
}

@media screen and (max-width: 1200px) {
    footer {
        display: none;
    }
    .btn-main {
        display: inline-block;
    }

    .btn-main {
        text-decoration: underline;
        border: none;
        background-color: transparent;
    }
    .btn-main:hover {
        background-color: transparent;
    }
}
