{% extends 'game/page.html' %}
{% load static %}
{% load gadmin_extras %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{% static 'game/game.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="main page">
    <div class="body">
        <div class="row">
            <div class="col-lg-9 col-xs-12">
                <div class="card game">
                    <canvas id="gameCanvas" width="0" height="0"></canvas>
            
                    <div class="controls" style="display:none">
                        <div class="control control-maingun">
                            <button id="shootMainGun" onClick="shootMainGun()"> main gun </button>
                            <progress id="mainGunReady" value="1"> </progress>
                        </div>
                        <div class="control control-sidegun">
                            <button id="shootSideGun" onClick="shootSideGun()"> side gun </button>
                            <progress id="sideGunReady" value="1"> </progress>
                        </div>
                    </div>
                </div>
            </div>
    
            <div class="col-lg-3 col-xs-12">
                <div class="header">
                    <h1 class="title">Gioele V3</h1>
                    <span class="subtitle">Conquista l'universo</span>
                </div>
                {% if debug %}
                <div class="card">
                    <h4 class="title">Debug</h4>
                    <span>Connection state: <span id="ws-conn">closed</span></span>
                    <form class="debug-form">
                        <div>
                            <input type="checkbox" id="opt_1">
                            <label for="opt_1">show enemy health</label>
                        </div>
                        <div>
                            <input type="checkbox" id="opt_2">
                            <label for="opt_2">show enemy hitbox</label>
                        </div>
                        <div>
                            <input type="checkbox" id="opt_3">
                            <label for="opt_3">show guide line</label>
                        </div>
                    </form>
                </div>
                {% endif %}
                <div class="card player-card">
                    <div class="pinfo">
                        <span>{{ user.username }}</span>
                        <span>{{ user.level|rounddown }}</span>
                    </div>
                    <div class="level-bar">
                        <progress value="{{ user.level|levelbar }}" max="100"> </progress>
                    </div>
                    <div class="pinfo-footer">
                        <a href="{% url 'game:profile' %}">Profilo</a>
                        <small>{{ user.balance }} gbucks</small>
                    </div>
                </div>
                <div class="card">
                    <ul style="margin:0;padding-left:15px;">
                        <li><code>left arrow</code> move left </li>
                        <li><code>right arrow</code> move right </li>
                        <li><code>q</code> shoot with main gun </li>
                        <li><code>w</code> shoot with side gun </li>
                    </ul>
                </div>
                <a href="{% url 'game:leaderboard' %}" class="btn-alt">Classifica</a>
                <a href="{% url 'game:logout' %}" class="btn-logout">Logout</a>
            </div>

        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'game/main.js' %}"></script>
<script src="{% static 'game/maurizio/lucasars.js' %}"></script>
<script src="{% static 'game/maurizio/maurizio.js' %}"></script>
<script src="{% static 'game/classes.js' %}"></script>
<script src="{% static 'game/maurizio/martino.js' %}"></script>
<script src="{% static 'game/functions.js' %}"></script>
<script src="{% static 'game/patterns.js' %}"></script>
<script src="{% static 'game/guns.js' %}"></script>
{% endblock scripts %}