{% extends 'game/page.html' %}
{% load static %}
{% load gadmin_extras %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{% static 'game/game.css' %}">
{% endblock stylesheets %}
{% block content %}
<div class="card game">
    <canvas id="gameCanvas" width="0" height="0"></canvas>

    <div class="controls" style="display:none">
        <div class="control control-maingun">
            <button id="shootMainGun" onClick="shootMainGun()"> main gun </button>
            <progress id="mainGunReady" value="1"> </progress>
        </div>
        <div class="control control-sidegun">
            <button id="shootSideGun" onClick="shootSideGun()"> side gun </button>
            <progress id="sideGunReady" value="1"> </progress>
        </div>
    </div>
</div>
{% endblock content %}
{% block scripts %}
<script src="{% static 'game/main.js' %}"></script>
<script src="{% static 'game/maurizio/lucasars.js' %}"></script>
<script src="{% static 'game/maurizio/maurizio.js' %}"></script>
<script src="{% static 'game/classes.js' %}"></script>
<script src="{% static 'game/maurizio/martino.js' %}"></script>
<script src="{% static 'game/functions.js' %}"></script>
<script src="{% static 'game/patterns.js' %}"></script>
<script src="{% static 'game/guns.js' %}"></script>
{% endblock scripts %}