{% load static %}
<!DOCTYPE html>

<html>
<head>

  <title> Gioele V3 </title>
  <meta charset="UTF-8">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
  <link rel="stylesheet" type="text/css" href="{% static 'game/css.css' %}" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide">

</head>
<body>

  <h1>Connection state: <span id="ws-conn">closed</span></h1>
  <div>
      <b>User:</b> {{ user.user.username }} <br/>
      <b>Level:</b> {{ user.level }} <br/>
      <b>Balance:</b> {{ user.balance }} gbucks <br/>
  </div>

  <canvas id="gameCanvas" width="0" height="0"> </canvas>
  <br>

  <button id="shootMainGun" onClick="shootMainGun()"> main gun </button>
  <progress id="mainGunReady" value="1"> </progress>
  <br>

  <button id="shootSideGun" onClick="shootSideGun()"> side gun </button>
  <progress id="sideGunReady" value="1"> </progress>
  <br>

  <ul>
    <li> left arrow - left </li>
    <li> right arrow - right </li>
    <li> q - main gun </li>
    <li> w - side gun </li>
  </ul>

  <table border="1p solid">
    <tr>
      <td colspan="3" style="text-align: center;"> OPTIONS </td>
    </tr>
    <tr>
      <td>
        <input type="checkbox" id="opt_1">
        <label for="opt_1"> show enemy health </label>
      </td>
      <td>
        <input type="checkbox" id="opt_2">
        <label for="opt_2"> show enemy hitbox </label>
      </td>
      <td>
        <input type="checkbox" id="opt_3">
        <label for="opt_3"> show guide line</label>
      </td>
    </tr>
  </table>

  <br>

  <a href="{% url 'game:logout' %}">Logout</a>

  <script src="{% static 'game/main.js' %}"></script>
  <script src="{% static 'game/maurizio/lucasars.js' %}"></script>
  <script src="{% static 'game/maurizio/maurizio.js' %}"></script>
  <script src="{% static 'game/classes.js' %}"></script>
  <script src="{% static 'game/maurizio/martino.js' %}"></script>
  <script src="{% static 'game/functions.js' %}"></script>
  <script src="{% static 'game/patterns.js' %}"></script>
  <script src="{% static 'game/guns.js' %}"></script>

</body>
</html>
