{% extends 'game/page.html' %}
{% load static %}
{% load gadmin_extras %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{% static 'game/leaderboard.css' %}">
{% endblock stylesheets %}
{% block content %}
<div>
    <h4 style="text-align:center;">Classifica</h4>
</div>
<div class="card">
    <table class="scoreboard-table">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Livello</th>
            </tr>
        </thead>
        <tbody>
            {% for guser in users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ guser.username }}</td>
                <td>{{ guser.level|rounddown }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="ld-controls">
        <a href="{% url 'game:index' %}" class="btn-game">Torna a giocare</a>
    </div>
</div>
{% endblock content %}