{% extends 'game/base_page.html' %}
{% load static %}
{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'game/login.css' %}">
{% endblock styles %}
{% block body %}
<div class="main">
    <div class="header">
        <h1 class="title">Gioele V3</h1>
        <span class="subtitle">Conquista l'universo</span>
    </div>

    <div class="body">
        <h4 class="title">Login</h4>

        <p>
            Benvenuto viaggiatore,<br/>
            completa il login o registrati per<br/>
            iniziare a giocare
        </p>
        
        {% if error %}
        <div class="alert alert-error">
            <span>{{ error }}</span>
        </div>
        {% endif %}
        
        
        {% if code != 2 %}
        <form method="POST" action="{% url 'game:login' %}" class="login-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" class="login-input" />
            <input type="password" name="password" placeholder="Password" class="login-input" />
            <div class="login-buttons">
                <a href="{% url 'game:registration' %}" class="btn-register">Registrati</a>
                <button type="submit" class="btn-login">Entra</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock body %}