{% extends 'game/page.html' %}
{% load static %}
{% load gadmin_extras %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{% static 'game/profile.css' %}">
{% endblock stylesheets %}
{% block content %}
<div>
    <h4 style="text-align:center;">Profilo</h4>
</div>
{% if error %}
    <div class="alert alert-error">
        <span>{{ error }}</span>
    </div>
{% endif %}
{% if message %}
    <div class="alert alert-success">
        <span>{{ message }}</span>
    </div>
{% endif %}
<div class="card">
    <form action="{% url 'game:profile' %}" method="POST" class="profile-form">
        {% csrf_token %}
        <input type="text" name="form_type" value="profile" style="display:none" />
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <label for="username">Username:</label>
            </div>
            <div class="col-sm-9 col-xs-12">
                <input type="text" id="username" name="username" value="{{ user.username }}" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <label for="email">Email:</label>
            </div>
            <div class="col-sm-9 col-xs-12">
                <input type="email" id="email" name="email" value="{{ user.email }}" disabled />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <label for="password">Password:</label>
            </div>
            <div class="col-sm-9 col-xs-12">
                <input type="password" id="password" name="password" placeholder="Password" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9 cols-xs-12 col-sm-offset-3 info-text">
                <small>Puoi lasciare la parte qua sotto vuota se voi solo cambiare username</small>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <label for="npassword">Nuova password:</label>
            </div>
            <div class="col-sm-9 col-xs-12">
                <input type="password" id="npassword" name="npassword" placeholder="Nuova password" />
            </div>
        </div>
        <div class="row">
            <div class="col-sm-3 col-xs-12">
                <label for="cnpassword">Conferma nuova password:</label>
            </div>
            <div class="col-sm-9 col-xs-12">
                <input type="password" id="cnpassword" name="cnpassword" placeholder="Conferma nuova password" />
            </div>
        </div>
        <div class="form-buttons">
            <button type="submit" class="btn-save">Salva</button>
        </div>
    </form>
</div>

<div class="row">
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <h4 class="title">Armi</h4>
            <table class="inventory-table">
                <tbody>
                    {% for gun in user_guns %}
                    <tr>
                        <td>{{ gun.name }}</td>
                        <td>{{ gun.type|yesno:"secondaria,primaria" }}</td>
                        <td class="center">{{ gun.level }}</td>
                        <td><button type="button">+</button></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-buttons">
                <a href="{% url 'game:shop' %}" class="btn-buy">Compra</a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-lg-6">
        <div class="card">
            <h4 class="title">Skin</h4>
            <table class="inventory-table">
                <tbody>
                    {% for skin in user_skins %}
                    <tr>
                        <td>
                            <input type="radio" id="skin-{{ skin.id }}" name="skin" value="{{ skin.id }}" {% if skin.id == user.skin.id %}checked{% endif %}/>
                        </td>
                        <td>
                            <label for="skin-{{ skin.id }}">{{ skin.name }}</label>
                        </td>
                        <td class="center">
                            <label for="skin-{{ skin.id }}">
                                <img src="/static/game/images/{{ skin.filename }}"/>
                            </label>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="form-buttons">
                <a href="{% url 'game:shop' %}" class="btn-buy">Compra</a>
            </div>
        </div>
    </div>
</div>
{% endblock content %}