{% extends 'game/base_page.html' %}
{% load static %}
{% block styles %}
<link type="text/css" rel="stylesheet" href="{% static 'game/login.css' %}">
{% endblock styles %}
{% block body %}
<div class="main">
    <div class="header">
        <h1 class="title">Gioele V3</h1>
        <span class="subtitle">Conquista l'universo</span>
    </div>

    <div class="body">
        <h4 class="title">Registrazione</h4>

        <p>
            Ricorda di utilizzare l'email d'istituto
        </p>
        
        {% if error %}
        <div class="alert alert-error">
            <span>{{ error }}</span>
        </div>
        {% endif %}
        
        
        {% if code != 2 %}
        <form method="POST" action="{% url 'game:registration' %}" class="login-form">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username" class="login-input" />
            <input type="email" name="email" placeholder="Email" class="login-input" />
            <input type="password" name="password" placeholder="Password" class="login-input" />
            <input type="password" name="cpassword" placeholder="Conferma password" class="login-input" />
            <div class="register-buttons">
                <button type="submit" class="btn-login">Conferma</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock body %}